.maincolor{
    color:#ff4c4c
}
.maincolorbg{
    background:#ff4c4c
}
.maincolorbgA{
    background:#fd9090
}
.maincolorA{
    color:#fd9090
}
.fl{
    float:left
}
.fr{
    float:right;
}
.margin-b10{
    margin-bottom:10px
}
.margin-t10{
    margin-top:10px
}
.margin-r10{
    margin-right:10px
}
.margin-t20{
    margin-top:20px
}
.margin-b20{
    margin-bottom:20px
}
.margin5-0{
    margin:5px 0
}

.clearfix{
    *zoom:1;
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
.font-12{
    font-size: 12px;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-36{
    font-size: 36px;
}
.hidden{
    display: none !important
}