body{
    background:#f2f2f2;
}
.bannerlistbg{
    background:url("../images/newimg/community/bannerbg.jpg") no-repeat;
    background-size:100% 159px;
    height: 159px;
    padding:0 10px;

}
#scrollimgPost{
    height: 170px;
    width:100%;
    border-radius: 10px;
    z-index: 2;
}
.scrollimg .hd li{
    width:8px;
    height: 8px;
    border-radius: 8px;
    border:1px solid #ff4c4c;
    background:#fff;
}
.scrollimg .hd li.on{
    background:#ff4c4c
}
.scrollimg .bd{
    height: 170px;
}
.scrollimg .bd li img{
    height:170px;
}
.bannerlist{
    position: relative;
}
.bannermark{
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 0;
    z-index: 1;
}
.bannermark img{
    max-width: 100%
}
.commutype{
    padding:0 20px;
    padding-top:48px;
    padding-bottom:25px;

}
.commutype ul li {
    position: relative;
    height: 37px;
    line-height: 37px;
    float: left;
    width: 25%;
}

.commutype ul li a{
    width:100%;
    border:1px solid #ff4c4c;
    text-align: center;
    display: block
}
.commutype ul li.bol-0 a{
    border-left: 0
}
.commutype ul li.on a{
    background:#ff4c4c;
   
}
.commutype ul li.on a{
    color:#fff
}
.commutype ul li span{
    width: 0;
    height: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #ff4c4c transparent transparent;
    display: block;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
}
.aboutText>ul>li{
    background:#fff;
    padding:10px 10px 28px 10px;
    margin-bottom:10px
}
.aboutHead .headimg{
    width:57px;
    height: 57px;
    border-radius: 50%;
}

.aboutHead .headimg img{
    max-width: 100%;
    border-radius: 50%;
}
.aboutHead p{
    font-size: 13px;
    color:#333635;
    margin-left:15px;
}
.aboutmg>p{
    font-size: 11px;
    margin-left: 70px;
    margin-top: -10px;
    line-height: 20px
}
.aboutimg{
    background:#f2f2f2;
    padding:10px 10px 0;
    margin-top:10px
}
.aboutimg ul li {
    width:23%;
    margin-right: 2%;
    float:left;
    margin-bottom:10px
}
.aboutimg ul li img{
    max-width: 100%
}


/* 通知 */
.nowtext{
    font-size: 15px;
    margin-top:80px;
    text-align: center;
    text-decoration: underline
}
.informlist{
    /* margin-top:25px; */
    padding:0 10px;
}
.informlist ul li .informimg{
    height: 155px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.informlist ul li{
    margin-bottom: 25px;
}
.informlist ul li .informimg img{
    max-width: 100%
}
.informsg{
    height:38px;
    line-height: 38px;
    background:#262928;
    color:#fff;
    font-size: 13px;
    padding-left: 10px;
    margin-top:-1px
}
.participation{
    height:38px;
    line-height: 38px;
    background:#262928;
    color:#fff;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
.likeimg{
    width:17px;
    height:17px;
}
.likeimg img{
    max-width: 100%;
}


/* 评论 */
.comment .aboutmg>p{
    color:#333635;
    margin-top:-15px;
}
.comment .aboutimg{
    background:#fff
}
.commentDetail{
    font-size: 13px;
    color:#333635;
    line-height: 20px;
    padding:0 10px;
    margin-top:10px
}
.reply{
    padding:0 10px
}
.replynum{
    font-size: 12px;
    color:#cca266;
    text-decoration: underline;
    line-height: 20px;
    margin-bottom: 10px;
}
.replylist{
    font-size: 12px;
}

.replylist ul li p span{
    color:#333635
}
.comment.aboutText>ul>li{
    padding-bottom: 10px;
    margin-bottom:17px;
}
.replylist ul li{
    margin-bottom:5px;
}
.replylist ul li p{
    line-height: 20px;
    height: 20px;
    overflow: hidden;/*超出部分隐藏*/
    text-overflow:ellipsis;/* 超出部分显示省略号 */
    white-space: nowrap;/*规定段落中的文本不进行换行 */
    width: 100%;/*需要配合宽度来使用*/
  
}
.replylist ul li textarea{
    height: 20px;
    width:100%;
    resize: none;
    border: 0; 
}
/* 发帖 */
.sendmsgbox{
    padding:0 10px;
}
.sendmsgwrap{
    background:#fff
}
.sendmsgHead{
    font-size:16px;
    position: relative;
    padding-left:10px;
    border-bottom:1px solid #e1e1e1;
    padding-bottom:5px;
}
.sendmsgHead:before{
    content:'';
    width:4px;
    height: 15px;
    background:#ff4c4c;
    position: absolute;
    top:11px;
    left:0
}

.antistop input{
    font-size:12px;
    text-indent: 15px;
    height: 40px;
    line-height: 40px;
    border:1px solid #c4c4c4;
    margin-top:15px;
    margin-bottom: 10px;
    width:99%;
}
.issuebox{
    border:1px solid #c4c4c4;
    padding:10px;
}
.publish{
    width:60px;
    height: 25px;
    line-height: 25px;
    background: #ff4c4c;
    text-align:center;
    color:#fff !important;
    display: block;
    margin:0 auto;
    font-size: 13px;
    margin-top:20px;
    margin-bottom: 20px;
}
.issuebox textarea{
    resize: none;
    border: 0; 
    width:100%;
    min-height: 100px;
}
.normaltext{
    text-decoration: underline;
    font-size:12px;
    color:#c4c4c4;
    text-align:center;
    line-height: 20px;
    height: 20px;
}
#previewimg ul li{
    width: 30%;
    margin-right: 3%;
    margin-bottom: 10px;
    float:left;
    position: relative;
    height: 70px;
    overflow: hidden;
}
#previewimg ul li img{
    max-width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.upfile{
    border:1px dashed #848585;
    background:#fff;
    height: 70px;
    width: 70px;
    padding: 0;
}

.upfile p{
    line-height: initial;
    font-size: 12px;
    color:#6c6c6c
}
.imglist .layui-elem-quote{
    border:none;
    padding:0;
}
.upload-img{
    width:100px;
    float:left;
    height: 100px;
    margin-right: 10px;
    margin-bottom:10px;
    position: relative;
    overflow: hidden;
}
.upload-img img,.upload-img video{
    max-width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.upload-img span{
    position: absolute;
    left:0;
    top:0;
    z-index:3
}

/* 通知详情 */
.informdetailbox {
    background:#fff;
    
}
.informdetail{
    padding:0 10px;
}

.informtime{
    color:#191a1a;
    font-size:11px;
    line-height: 20px;
    padding:10px 0
}
.informTitle{
    font-size: 16px; 
    color:#191a1a;
    line-height: 20px;
    padding-bottom:15px;
    position: relative;
}
.informTitle:after{
    content:'';
    width:30px;
    height: 1px;
    background:#666666;
    position: absolute;
    bottom: 0;
    left: 0;
}
.informimg{
    width:100%;
    height: 177px;
    overflow: hidden;
    margin-top:18px;
}
.informimg img{
    max-width: 100%
}
.informtext{
    line-height: 30px;
    font-size: 13px;
    color: #191a1a;
    margin-top: 10px;
}
